<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        background-color: #3c3c3c;
        color: white;
      }
      .error {
        color: red;
      }
      .info {
        color: yellow;
      }
    </style>
    <title>Cafe Scrape</title>
  </head>

  <body>
    <div class="error">{{error_message}}</div>
    <div class="info">{{info_message}}</div>
    <h1>Scrape Cafe</h1>
    <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
      <input type="text" name="gemini-api-key" placeholder="Gemini API Key" value="{{gemini_api_key}}">
      <input type="text" name="cafe-url" placeholder="Cafe URL" value="{{cafe_url}}">
      <input type="submit" value="Submit">
    </form>
    <div>
      <h2>Cafe List</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>URL</th>
          </tr>
        </thead>
        {% for cafe in cafes %}
        <tr>
          <td>{{cafe["name"]}}</td>
          <td>{{cafe["address"]}}</td>
          <td>{{cafe["phone"]}}</td>
          <td>{{cafe["url"]}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
